

.navigation
{
    background: red;
    display: flex;
    justify-content: flex-end;
}

header
{
    display: flex;
    justify-content: flex-start;
}

header img
{
    width: 350px;
    height: 300px;
}

body
{
    background-color: black;
}

.navigation a
{
    padding: 15px 10px;
    color: white;
    width: 150px;
    text-align: center;
    font-family: fantasy;
}

.navigation a:hover{background-color: white; color: black;}

@media all and (max-width: 800px) {
	.navigation { justify-content: space-around; }
	.navigation a{ flex-grow:1; /* растягиваться на всю ширину */ }
    header img
    {
        width: 250px;
        height: 200px;
    }
    .people {align-content: space-around;}
    .czar{margin-bottom: 20px;}
    .stilov{margin-bottom: 20px;}
    .kaba{margin-bottom: 20px;}
    .semen{margin-bottom: 20px;}
    .ken{margin-bottom: 20px;}
    .gocha{margin-bottom: 20px;}

    .text_field{flex-wrap: wrap;}
    .text_field img{width: 500px; height: 300px;}

    .carousel_container{width: 630px; margin-left: 50px;}
    .carousel_slide img{width: 630px; height: 500px;}

    .btn{margin-left: 115px; padding-bottom: 50px;}
    button{width: 250px;height: 25px;}
}

@media all and (max-width: 500px) {
	.navigation { flex-direction: column;}
    header img
    {
        width: 150px;
        height: 140px;
    }
    header{justify-content: center;}
    .people {flex-direction: column;}
    .czar{margin-bottom: 20px;}
    .stilov{margin-bottom: 20px;}
    .kaba{margin-bottom: 20px;}
    .semen{margin-bottom: 20px;}
    .ken{margin-bottom: 20px;}
    .gocha{margin-bottom: 20px;}

    .carousel_container{width: 440px; margin-left: 10px;}
    .carousel_slide img{width: 440px; height: 300px;}

    .btn{margin-left: 80px; padding-bottom: 50px;}
    button{width: 150px;height: 25px;}
}

@media all and (min-width: 800px){
    .carousel_container{width: 750px; margin-left: 550px;}
    .carousel_slide img{width: 770px;height: 500px;}
    .btn{margin-left: 600px; padding-bottom: 50px;}
    button{width: 325px;height: 25px;}
}

.our_men{color: white; margin-left: 40px; font-family: fantasy;}

.people
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow:1
}

.czar{display: flex;}
.gocha{display: flex;}
.stilov{display: flex;}
.semen{display: flex;}
.ken{display: flex;}
.kaba{display: flex;}

.name{padding-left: 10px; padding-top: 20px; height: 100px;}

.czar img
{
    width: 150px;
    height: 150px;
    
}
.czar p
{
    color: white; 
    text-align: center;
    font-size: 14pt;
    font-family: fantasy;
}

.gocha img
{
    width: 150px;
    height: 150px;
    
}
.gocha p
{
    color: white; 
    text-align: center;
    font-size: 14pt;
    font-family: fantasy;
}

.stilov img
{
    width: 150px;
    height: 150px;
    
}
.stilov p
{
    color: white; 
    text-align: center;
    font-size: 14pt;
    font-family: fantasy;
}

.kaba img
{
    width: 150px;
    height: 150px;
    
}
.kaba p
{
    color: white; 
    text-align: center;
    font-size: 14pt;
    font-family: fantasy;
}

.ken img
{
    width: 150px;
    height: 150px;
    
}
.ken p
{
    color: white; 
    text-align: center;
    font-size: 14pt;
    font-family: fantasy;
}

.semen img
{
    width: 150px;
    height: 150px;
    
}
.semen p
{
    color: white; 
    text-align: center;
    font-size: 14pt;
    font-family: fantasy;
}

hr
{
    margin-top: 50px;
}

.main_styles{color: white; font-family: fantasy; margin-left: 40px;}

.text_field
{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    color: white;
}

.text_field img
{
    width: 600px;
    height: 400px;
}

li
{
    font-family: fantasy;
    padding-bottom: 20px;
    font-size: 14pt;
    text-align: justify;
}

ul{margin-right: 100px;}

.carousel_container
{
    
    border: 5px solid red;
    overflow: hidden;
}

.carousel_slide
{
    display: flex;
    flex-wrap: nowrap;
}

button
{
    font-family: fantasy;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
}



.examples{color: white; font-family: fantasy; text-align: center;}